<a href="https://colab.research.google.com/github/Fadilsa9/-TESTING-/blob/main/%E2%99%A3%E2%99%A3_TESTING_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
def fun():
  print('welcome to gfg')
fun()

welcome to gfg

In [13]:
def add(num1: int, num2: int):
    """add two numbers"""
    num3 = num1 + num2

    return num3

num1, num2 = 5, 15
ans = add(num1, num2)
print(f'num1 is {num1} and num2 is {num2}, and addition of them is {ans}.')

num1 is 5 and num2 is 15, and addition of them is 20.

In [ ]:
if (width == 0 and height == 0 and
    color == 'red' and emphasis == 'strong' or
    highlight > 100):
  raise VlaueError('sorry, you lose')

In [ ]:
s = fun(a, b, c
        d, e, f)

z = fun(a, b, c, \
        d, e, f)

In [ ]:
import os
import pandas
import matplotlib

In [ ]:
# Наболевшие вопросы

bagdad(mm[l, s(dd{or})])
if x == 4, z; mn:

In [ ]:
"""i = i + 1
submitted += 1
x = x*x + 1
ss x*x + x*x
mm = (m+n) * (u-d)

"""

""" jaalfj ajflalfj ajfajflalfjadkl """

In [1]:
def com(s=22, z=33):
  return d(i=s, n=z)

In [ ]:
if red == 'sandy':
  do_good_sany()
  do1()
  do2()
  do3()

In [ ]:
x = 8
counter = 0

In [ ]:
print(divmod(9, 2))

(4, 1)

In [ ]:
print(divmod(9, 3))
print(('\n8.2, 99 ==>'), divmod(8.2, 99))

(0, 0)

8.2, 99 ==> (0.0, 8.2)

In [ ]:
def fun():
  print('this is a functhon')

fun()

this is a functhon

In [ ]:
def fun(a, b, c):
  return a+b+c

fun(1, 2, 3)

6

In [ ]:
def fun(num1: float, num2: float) -> int:
  total = num1 + num2
  return total

fun(2, 3.99)

5.99

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
k = sorted()

In [ ]:
# Пример значений переменных
cyviner = 5  # Количество "cyviner"
bezdelyshka = 3  # Количество "bezdelyshka"

# Формула для расчёта
total = (cyviner * 75) + (bezdelyshka * 112)  # Сумма в граммах

# Если нужно добавить единицы измерения
result = f"{total} гр"

print(result)

711 гр

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
llamb = map(lambda x: x+2, nums)
print(list(llamb))

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
letters = ['s', 'b', 'd', 'm', 'g']
# for let in len(letters):
#   print(let)
print(len(letters))

5

In [ ]:
lets = ['f', 'g', 'a']
all = map(lambda j: j + 'u', lets)
print(list(all))

['fu', 'gu', 'au']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
filt = filter(lambda s: s==3, nums)
print(list(filt))

[3]

In [ ]:
x = [1, 2, 3, 4, 5]

d = map(float, x)
print(list(d))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
II = int(input('The nums that u should be at the last month: '))
III = float(input('The nums that they are  should make  here'))
IIII  int(input(''))

In [ ]:
# ss = lambda x, y: x * y
# print(ss(2, 3))

def rr(m, n):
    return m + n
print(rr(5, 5))

10

In [ ]:
w = 'hi, yooo track your progress'
print(len(w))

28

In [ ]:
n = 3
for f in range(n):
  print(f)

0
1
2

In [ ]:
nums = [1, 2, 3, 4, 5]
for i, num in enumerate(nums):
  print(i,"--->", num)

0 ---> 1
1 ---> 2
2 ---> 3
3 ---> 4
4 ---> 5

In [ ]:
nums = [1, 2, 3, 4, 5]
for i in range(len(nums)):
  print(i, nums[i])

0 1
1 2
2 3
3 4
4 5

In [ ]:
x = range(8)
for i in x:
  print('sequence of numbers:', i)

sequence of numbers: 0
sequence of numbers: 1
sequence of numbers: 2
sequence of numbers: 3
sequence of numbers: 4
sequence of numbers: 5
sequence of numbers: 6
sequence of numbers: 7

In [ ]:
for i in range(6):
  print(i**2)

0
1
2
3
4
5

In [ ]:
for i in [0, 1, 2, 3, 4, 5]:
  print(i)

0
1
2
3
4
5

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
for i, color in enumerate(colors):
    print(i, '-->', color)

0 --> red
1 --> green
2 --> blue
3 --> yellow

In [ ]:
x = 8

In [ ]:
y = 2

In [ ]:
print('x =', x, 'ymnogaem na y =', y, 'i palyhaem ', x * y)

x = 8 ymnogaem na y = 2 i palyhaem  16

In [ ]:
print(1, 2, 3, 4, 5, sep = ' | ')

1 | 2 | 3 | 4 | 5

In [ ]:
print(1, 2, 3, 4, 5, sep = ' | \n')

1 |
2 |
3 |
4 |
5

In [ ]:
print(1, 2, 3, 4, 5, end = ' | ')

1 2 3 4 5 |

In [ ]:
print(22, end = ' | ')

22 |

In [ ]:
print(33, end = ' () () ')

33 () ()

In [ ]:
z = input()
print('you entered:', z)

8
you entered: 8

In [ ]:
i = input('how are u?')
ii = int(input('how old are u?'))
iii = float(input('how much your salary?'))

how are u?fine
how old are u?88
how much your salary?8

In [ ]:
name = input('Наименование товара: ')
quantity = int(input('Сколько единец товара вы желаете приобрести? '))
price = float(input('Какова цена за единицу? '))

Наименование товара: ss
Сколько единец товара вы желаете приобрести? 9
Какова цена за единицу? 98

In [ ]:
total = quantity * price
print('Общая стоимость покупки составила:', total)

Общая стоимость покупки составила: 882.0

In [ ]:
a = 78.99
b = -34.27
c = 'БургерКинг'

print("1 целое число: %d" % a)
print('2 чисор с плавающей точкой: %f' % b)
print('3 несколько форматов в одной строке: %d and %.9f' % (a, b))
print("4 целые числа с 8-ю знакоместами: %12i      and %12i" % (a, b))
print('5 %i %i' % (a, b))
print('6 %i %10i' % (a, b))
print("7 it's a big number: %.33f" % a)
print('8 sssssss %.22d' % a)
print('9 формат строки с 10-ю знакоместями: %44s' % c)
print('10 этот человек который его зовут %s сидел в %d бургеркингов' % ('Ahmed', 9))

1 целое число: 78
2 чисор с плавающей точкой: -34.270000
3 несколько форматов в одной строке: 78 and -34.270000000
4 целые числа с 8-ю знакоместами:           78      and          -34
5 78 -34
6 78        -34
7 it's a big number: 78.989999999999994884092302527278662
8 sssssss 0000000000000000000078
9 формат строки с 10-ю знакоместями:                                   БургерКинг
10 этот человек который его зовут Ahmed сидел в 9 бургеркингов

In [ ]:
firstName = input('Введите имя: ')
lastName = input('Введите фамилию: ')

fullName = firstName + ' ' + lastName

print(fullName)

Введите имя: Ahmed
Введите фамилию: Fadilsa
Ahmed Fadilsa

In [ ]:
q1 = input('How are the work? ')
q2 = input('Where are u now? ')
q3 = input('How much u need? ')

# print(q1 + '\n' + q2 + '\n' + q3)

all_answers = q1 + ' ' + q2 + ' ' + q3

How are the work? I'm fine
Where are u now? At work
How much u need? Two thousnd

In [ ]:
print(len(all_answers))

28

In [ ]:
# theNumOfAllChars = len(all_answers)
# print('all charecters of %s , %s and %d are ' % len(all_answers))

In [ ]:
firstName = input('type your first name: ')
middleName = input('type your middle name: ')
lastName = input('type your last name: ')

print('your information to instegration: %s %s. %s.' % (lastName, firstName[0], middleName[0]))

type your first name: Ahmed
type your middle name: Fadil
type your last name: Mahmood
your information to instegration: Mahmood A. F.

In [ ]:
line = "hi, i'm your assistant"

print(line[0:2])
print(line[:])
print(line[:-1])

hi
hi, i'm your assistant
hi, i'm your assistan

In [ ]:
text = 'HelloWorld  '
print(text * 3)

HelloWorld  HelloWorld  HelloWorld

In [ ]:
'text {paceHolder}.format(value)'

In [ ]:
name = 'ahmed'
age = 27
salary = 80000

info = 'my name is {} and my age is {} year'.format(name, age)
print(info)

my name is ahmed and my age is 27 year

In [ ]:
fos = ('name is {}, the age is {} and the salary is {}. so hi with {}').format(name, age, salary, name)
print(fos)

name is ahmed, the age is 27 and the salary is 80000. so hi with ahmed

In [ ]:
print('name is {}, the age is {} and the salary is {}. so hi with {}'.format(name, age, salary, name))

name is ahmed, the age is 27 and the salary is 80000. so hi with ahmed

In [ ]:
num = 88789.99999
print('can u give {:.2f} to them'.format(num))
print('the whole num: ${} only for TSS and {comp}'.format(num, comp='UUU'))

can u give 88790.00 to them
the whole num: $88789.99999 only for TSS and UUU